<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"

         metadata-complete="true">
    <session-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <servlet>
        <servlet-name>Task23Servlet</servlet-name>
        <servlet-class>org.task2.task23.servlet.Task23Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Task23Servlet</servlet-name>
        <url-pattern>/task-2-3/start</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>GetCustomersServlet</servlet-name>
        <servlet-class>org.task2.task23.servlet.GetCustomersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCustomersServlet</servlet-name>
        <url-pattern>/task-2-3/getCustomers</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ValidateDataServlet</servlet-name>
        <servlet-class>org.task2.task23.servlet.ValidateDataServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ValidateDataServlet</servlet-name>
        <url-pattern>/task-2-3/validateData</url-pattern>
    </servlet-mapping>

</web-app>